name: Auto Smart Upload

on:
  workflow_dispatch:
    inputs:
      file_url:
        required: true
      file_name:
        required: true

jobs:
  upload:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Process
        env:
          URL: ${{ github.event.inputs.file_url }}
          NAME: ${{ github.event.inputs.file_name }}
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          pip install huggingface_hub yt-dlp
          yt-dlp "$URL" -o "${NAME}.%(ext)s" --no-part
          
          python -c "
          import os, glob
          from huggingface_hub import HfApi
          api = HfApi()
          files = glob.glob(os.getenv('NAME') + '.*')
          if files:
              fname = files[0]
              api.upload_file(
                  path_or_fileobj=fname,
                  path_in_repo=fname,
                  repo_id='jdhdhtdd/a',
                  repo_type='dataset',
                  token=os.getenv('HF_TOKEN'),
                  run_as_future=False
              )
          "
