name: Auto Smart Upload

on:
  workflow_dispatch:
    inputs:
      file_url:
        required: true
      file_name:
        required: true

jobs:
  upload:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Process
        env:
          URL: ${{ github.event.inputs.file_url }}
          NAME: ${{ github.event.inputs.file_name }}
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          pip install huggingface_hub requests
          python -c "
          import requests, mimetypes, os, sys
          from huggingface_hub import HfApi

          url, base_name = os.getenv('URL'), os.getenv('NAME')
          res = requests.get(url, stream=True)
          ext = mimetypes.guess_extension(res.headers.get('content-type').split(';')[0]) or ''
          fname = f'{base_name}{ext}'

          with open(fname, 'wb') as f:
              for chunk in res.iter_content(chunk_size=8192): f.write(chunk)

          HfApi().upload_file(
              path_or_fileobj=fname,
              path_in_repo=fname,
              repo_id='jdhdhtdd/a',
              repo_type='dataset',
              token=os.getenv('HF_TOKEN')
          )
          "
